{% if not cargo == false %}
	<div class="cargo">
		<div class="align-middle table-responsive" >
			<table class="table table-bordered">
				<caption class="text-center">{{ caption }}</caption>
				<thead class="">
				<tr>
					<th>ID груза</th>
					<th>Номер контейнера</th>
					<th>Компания-клиент</th>
					<th>Фамилия, Имя менеджера</th>
					<th>Ожидаемая дата прибытия</th>
					<th>Статус</th>
					{% if usergroup == 'manager' %}
						<th>Изменить данные</th>
					{% endif %}
				</tr>
				</thead>
				<tbody>
					{% for item in cargo %}
						<tr id="cargo_{{ item.getId() }}">
							<td id="cargo_{{ item.getId() }}_id">{{ item.getId() }}</td>
							<td id="cargo_{{ item.getId() }}_container">{{ item.getContainer() }}</td>
							<td id="cargo_{{ item.getId() }}_clientname" onClick='getClientInfo( {{ item.getClientID() }} )'>
								{{ item.getClientName() ?? 'Не указан'}}
							</td>
							<td id="cargo_{{ item.getId() }}_manname" onClick='getManagerInfo( {{ item.getManID() }} )'>
								{{ item.getManagerName() ?? 'Не указан'}}
							</td>
							<td id="cargo_{{ item.getId() }}_datearrival">{{ item.getDateArrival() }}</td>
							<td id="cargo_{{ item.getId() }}_status">{{ item.getStatus() }}</td>
							{% if (usergroup == 'manager') %}
								<td>
									<button type="button" class="btn btn-secondary btn-manager pull-right"
									        onclick="openEditDialog({{ item.getId() }})">
										Редактировать
									</button>
								</td>
							{% endif %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	<ul class="pagination">
		{% for query in queries %}
			<li><a href="?{{ query }}" class="inline-block"> {{ loop.index }} </a></li>
		{% endfor %}
	</ul>
{% endif %}

<div class="pull-right xls-buttons">
	
		<button type="button" class="btn btn-secondary" onclick="loadXls()"> Скачать как xls-файл</button>
		<button type="button" class="btn btn-secondary" onclick="xlsToEmail()">Отослать xls-файл мне на почту</button>
	
	{% if usergroup == 'client' %}
		<button type="button" class="btn btn-secondary" onclick="openCargoDialog()">Добавить новый груз</button>
	{% endif %}
</div>

